@{
    ViewData["Title"] = "The Joe Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://baconsale.com/">Visit BaconSale!</a></p>
    <a href="https://baconsale.com/">
        <img src="\\mac\icloud\c# projects\#6\wwwroot\screenshot 2024-02-15 at 9.13.05 pm.png" width="500" />
    </a>
</div>

