@{
    ViewData["Title"] = "The Joe Hilton Film Collection";
}
<!--Create a page that tells users about joel and provides links to more info-->
<div class="text-center">



    <h1 class="display-4">About Joel Hilton</h1>
    <br />
    <br />
    <h2>Joel Performs Regularly at Quick Wits Comedy</h2>
    <p><a href="https://www.qwcomedy.com/">Visit Quick Wits Comedy!</a></p>
    <h3>Joel also has a pop culture and films podcast called Baconsale</h3>
    <p> <a href="https://baconsale.com/">Visit BaconSale!</a></p>
    <a href="https://baconsale.com/">
        <img src="~/baconsalekate.jpg" width="450"/>
    </a>
</div>

