@{
    ViewData["Title"] = "The Joe Hilton Film Collection";
}

@model Film
<!--Thanks users for adding movies and is specific to category-->
<div class="text-center">
    <h1>Thanks for Adding a @Model.Category Movie to My Collection!</h1>
</div>